<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <h2 style="color:white">SHENZHEN Customs: Top Rejected Products</h2>
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Damaged Lithium Batteries</h5>
<!--                  <span class="h2 font-weight-bold mb-0">3,897</span>-->
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-battery-full"></i>
                  </div>
                </div>
              </div>
<!--              <p class="mt-3 mb-0 text-muted text-sm">-->
<!--                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>-->
<!--                <span class="text-nowrap">Since last month</span>-->
<!--              </p>-->
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Flammable Liquids</h5>
<!--                  <span class="h2 font-weight-bold mb-0">2,356</span>-->
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-fire"></i>
                  </div>
                </div>
              </div>
<!--              <p class="mt-3 mb-0 text-muted text-sm">-->
<!--                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>-->
<!--                <span class="text-nowrap">Since last week</span>-->
<!--              </p>-->
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Infectious substances</h5>
<!--                  <span class="h2 font-weight-bold mb-0">924</span>-->
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-vial"></i>
                  </div>
                </div>
              </div>
<!--              <p class="mt-3 mb-0 text-muted text-sm">-->
<!--                <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>-->
<!--                <span class="text-nowrap">Since yesterday</span>-->
<!--              </p>-->
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Military Equipment</h5>
<!--                  <span class="h2 font-weight-bold mb-0">1,476</span>-->
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-fighter-jet"></i>
                  </div>
                </div>
              </div>
<!--              <p class="mt-3 mb-0 text-muted text-sm">-->
<!--                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>-->
<!--                <span class="text-nowrap">Since last month</span>-->
<!--              </p>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Recently Uploaded E-commerce ICS2 Files</h3>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-hover table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">File name</th>
              <th scope="col">Total Parcels</th>
              <th scope="col">Uploaded On</th>
            </tr>
            </thead>
            <tbody>
<!--            <tr *ngFor="let preloFile of preloFiles">-->
<!--              <th>{{preloFile.name}}</th>-->
<!--              <th>{{preloFile.totalParcels}}</th>-->
<!--              <th>{{preloFile.uploadedOn}}</th>-->
<!--            </tr>-->

<!--<button type="button" placement="top-center"  class="btn-icon-clipboard" >-->

  <tr>
              <th scope="row">
                TGE_HVF_PRELO_CAN_145-10149591.csv
              </th>
              <td>
                13,110
              </td>
              <td>
                03/16/2024
              </td>

  </tr>
<!--</button>-->

            <tr>
              <th scope="row">
                TGE_HVF_PREAR_CAN_145-10149591.csv
              </th>
              <td>
                13,110
              </td>
              <td>
                03/16/2024
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
<!--    <div class="col-xl-8 mb-5 mb-xl-0">-->
<!--      <div class="card bg-gradient-default shadow">-->
<!--        <div class="card-header bg-transparent">-->
<!--          <div class="row align-items-center">-->
<!--            <div class="col">-->
<!--              <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>-->
<!--              <h2 class="text-white mb-0">Sales value</h2>-->
<!--            </div>-->
<!--            <div class="col">-->
<!--              <ul class="nav nav-pills justify-content-end">-->
<!--                <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[0];updateOptions()">-->
<!--                  <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked===true}" data-toggle="tab" (click)="clicked=true;clicked1=false">-->
<!--                    <span class="d-none d-md-block">Month</span>-->
<!--                    <span class="d-md-none">M</span>-->
<!--                  </a>-->
<!--                </li>-->
<!--                <li class="nav-item" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[1];updateOptions()">-->
<!--                  <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked1===true}" data-toggle="tab" (click)="clicked=false;clicked1=true">-->
<!--                    <span class="d-none d-md-block">Week</span>-->
<!--                    <span class="d-md-none">W</span>-->
<!--                  </a>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--          &lt;!&ndash; Chart &ndash;&gt;-->
<!--          <div class="chart">-->
<!--            &lt;!&ndash; Chart wrapper &ndash;&gt;-->
<!--            <canvas id="chart-sales" class="chart-canvas"></canvas>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Percentage by Risk Level</h3>
              <span class="mb-0" style="font-size: 12px;">MAWB Number: 145-10149591</span>
            </div>
<!--            <div class="col text-right">-->
<!--              <a href="#!" class="btn btn-sm btn-primary">See all</a>-->
<!--            </div>-->
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">Risk Level</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">
                High
              </th>
              <td>
                <div class="d-flex align-items-center">
                  <span class="mr-2">11%</span>
                  <div>
                    <div class="progress">
                      <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="11" aria-valuemin="0" aria-valuemax="100" style="width: 11%;"></div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">
                Medium
              </th>
              <td>
                <div class="d-flex align-items-center">
                  <span class="mr-2">32%</span>
                  <div>
                    <div class="progress">
                      <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: 32%;"></div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">
                Low
              </th>
              <td>
                <div class="d-flex align-items-center">
                  <span class="mr-2">57%</span>
                  <div>
                    <div class="progress">
                      <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: 57%;"></div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


<!--    <div class="col-xl-4">-->
<!--      <div class="card shadow">-->
<!--        <div class="card-header bg-transparent">-->
<!--          <div class="row align-items-center">-->
<!--            <div class="col">-->
<!--              <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>-->
<!--              <h2 class="mb-0">Total orders</h2>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--          &lt;!&ndash; Chart &ndash;&gt;-->
<!--          <div class="chart">-->
<!--            <canvas id="chart-orders" class="chart-canvas"></canvas>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
  <div class="row mt-3">

    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Parcel Items</h3>
              <span class="mb-0" style="font-size: 12px;">MAWB Number: 145-10149591</span>
              <br>
              <span class="mb-0" style="font-size: 12px;">E-Commerce Company: SHENZHENLEYIE-COMMERCECO.,LTD</span>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">Tracking Number</th>
              <th scope="col">Commodity Description</th>
              <th scope="col">City</th>
              <th scope="col">Contact Person</th>
              <th scope="col">ULD Number</th>
              <th scope="col">ULD Risk Level</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">
                NC219280930BR
              </th>
              <td>
                Bananas
              </td>
              <td>
                Shenzhen
              </td>
              <td>
                CASSIESONG
              </td>
              <td>
                LOW00001CZ
              </td>
              <td>
                <span class="badge badge-pill badge-success" >LOW</span>
              </td>
            </tr>
            <tr>
              <th scope="row">
                NC225922023BR
              </th>
              <td>
                Laptops
              </td>
              <td>
                Shenzhen
              </td>
              <td>
                CASSIESONG
              </td>
              <td>
                HGH10000CZ
              </td>
              <td>
                <span class="badge badge-pill badge-danger" >HIGH</span>
              </td>
            </tr>
            <tr>
              <th scope="row">
                NC226152595BR
              </th>
              <td>
                Caps
              </td>
              <td>
                Shenzhen
              </td>
              <td>
                CASSIESONG
              </td>
              <td>
                HGH10000CZ
              </td>
              <td>
                <span class="badge badge-pill badge-warning" >HIGH</span>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="mb-0">Number of Parcels by Risk Level</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="chart-orders" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
  </div>

  <object class="mt-5" data="http://localhost:3001/" width="1400" height="500" id="neOnePlay">
    <embed src="http://localhost:3001/" width="1400" height="500"/>
  </object>
</div>
